<% if @model == 'user' %>
  <h2>User search for "test"</h2>
  <%= render 'users/index', users: @records %>
<% elsif @modle == 'book' %>
  <h2>Book search for "test"</h2>
  <%= render 'books/index', books: @records %>
<% end %>
